/* the root is where properties are set */
/* clr for color */
/* the higher the number the darker the color */
:root {
    --clr-primary-200: #F3EED9;
    --clr-primary-400: #824936;

    --clr-neutral-100: #fff;
    --clr-neutral-900: #222C2A;

    --ff-primary: 'Roboto', sans-serif;
    --ff-accent: 'Plafair Display', serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.6;
}

body, h1, h2, h3, p {
    margin: 0;
}

h1, h2, h3 {
    font-family: var(--ff-accent);
    font-weight: 900;
    line-height: 1;
}

section {
    padding: 3rem 0;
}

.container {
    margin-inline: auto; /*only left and right margins, margin-block is top and bottom*/
    width: min(90%, 70.5rem); /* min width is set to 90% and max width to 70.5rem*/
}

.bg-light {
    background-color: var(--clr-primary-200);
}
.bg-primary {
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary-400);
}
.bg-dark {
    color: var(--clr-neutral-100);
    background-color: var(--clr-neutral-900);
}

.bg-primary h2, .bg-dark h2 {
    color: var(--clr-primary-200);
}